* {
  box-sizing: border-box;
}
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.navbar {
  padding: 1em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: fit-content;
  border-bottom: rgba(0, 0, 0, 50%) solid 2px;
}

.nav-title-box {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5em;
}

.nav-items {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  font-family: sans-serif;
  text-decoration: none;
  padding: 5px;

  font-size: 1.5em;
  color: black;
}

.navbar a:hover {
  box-sizing: border-box;
  border-left: rgba(0, 0, 0, 50%) solid 2px;
  border-right: rgba(0, 0, 0, 50%) solid 2px;
}
